:root {
  --pink0: #3a0917;
  --pink1: #590d22;
  --pink2: #800f2f;
  --pink3: #a4133c;
  --pink4: #c9184a;
  --pink5: #ff4d6d;
  --pink6: #ff758f;
  --pink7: #ff8fa3;
  --pink8: #ffb3c1;
  --pink9: #ffccd5;
  --pink10: #fde8ec;
  --black: #000000;

  --purple0: #500374;
  --purple1: #6c1aca;
  --purple2: #a724db;
  --purple3: #b14fb4;
}

body {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem 1fr 1rem;
  grid-template-rows: 0.25fr 1fr 1rem 1fr 0.05fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-title {
  grid-area: 1 / 2 / 2 / 5;
}
.grid-form {
  grid-area: 2 / 2 / 5 / 2;
}
.grid-info {
  grid-area: 2 / 4 / 2 / 4;
}
.grid-costs {
  grid-area: 4 / 4 / 4 / 4;
}

*:focus {
  outline-color: var(--pink2);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  background-color: var(--pink9);
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--pink1);
  padding: 0rem;
}

/*
  6. Improve media defaults
*/

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--pink4);
}

/* Layout ------------------- */

form {
  display: grid;
}

.athlete-info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.inputs-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

/* Atoms ------------------- */

h1,
h2 {
  text-align: center;
}

h2 {
  margin-bottom: 8px;
  color: var(--pink4);
}

.hr1 {
  border: none;
  height: 8px;
  border-top: 2px solid var(--pink4);
  border-bottom: 2px solid var(--pink4);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.results-hr {
  width: 100%;
  display: none;
}

.title-hr {
  width: 15%;
}

label {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--pink0);
  margin-bottom: 2px;
}

input,
select {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--pink2);
  border-radius: 4px;
  margin-bottom: 16px;
  background-color: var(--pink10);
  color: var(--pink3);
  height: 50%;
}

/* Stops autofill styling the fields to ugly colours */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--pink10) inset !important;
  -webkit-font-family: Arial, Helvetica, sans-serif;
  -webkit-color: var(--pink3);
  -webkit-text-fill-color: var(--pink3) !important;
}

button {
  background-color: var(--pink5);
  border: 0;
  color: var(--sky-50);
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  box-shadow: var(--sky-900) 4px 4px 0px;
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}

button:focus {
  background-color: var(--pink5);
}
button:active {
  transform: scale(1.02, 0.97);
  background-color: var(--pink6);
  box-shadow: var(--sky-900) 0px 0px 0px;
}

.information-field {
  border-radius: 8px;
  background-color: var(--pink10);
}
.output-field {
  padding: 1rem;
  background-color: var(--pink10);
  border-color: var(--pink3);
  width: 100%;
  border-style: solid;
}

.container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
}

.container div {
  margin: 1% 10%;
  width: 30%;
  font-size: 17px;
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.images img {
  width: 30%;
  height: 30%;
}

.doublelinecontainer {
  margin: 10px;
  font-size: 17px;
  text-align: center;
}

/* error styles */
.error-input {
  background-color: var(--pink8);
  color: var(--pink4);
  border-color: var(--pink2);
}

.error-label {
  color: var(--purple2);
}

.error-message ul {
  padding-left: 0;
}
.error-message ul li {
  color: var(--pink4);
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  list-style: none;
  margin-bottom: 0.5rem;
}
.error-message {
  background-color: var(--pink8);
}

@media screen and (max-width: 740px) {
  body {
    display: grid;
    grid-template-columns: 0.5rem 1fr 0.5rem;
    grid-template-rows: repeat(2, 1fr) 0.8rem 1fr 0.5rem 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .grid-title {
    grid-area: 1 / 2 / 1 / 3;
  }
  .grid-form {
    grid-area: 2 / 2 / 3 / 2;
  }
  .grid-info {
    grid-area: 4 / 2 / 4 / 2;
  }
  .grid-costs {
    grid-area: 6 / 2 / 6 / 2;
  }

  .results-hr {
    display: block;
  }

  body {
    width: auto;
  }

  button {
    margin-bottom: 0.5rem;
  }
}
