:root {
  --pink0: #3a0917;
  --pink1: #590d22;
  --pink2:#800f2f;
  --pink3:#a4133c;
  --pink4:#c9184a;
  --pink5:#ff4d6d;
  --pink6:#ff758f;
  --pink7:#ff8fa3;
  --pink8:#ffb3c1;
  --pink9:#ffccd5;
  --pink10:#fde8ec;
  --black:#000000;

  --purple0: #500374; 
  --purple1: #6c1aca;
  --purple2: #a724db;
  --purple3: #b14fb4;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  background-color: var(--pink9);
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--pink1);
  padding: 0rem;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--pink4);
}

/* Layout ------------------- */

form {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: rem;
}

.athlete-info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 1rem;
}

.inputs-wrapper,
.outputs-wrapper {
  display: flex; 
   flex-direction: row; 
  padding: 16px 128px;
   flex: 1 0 auto; 

}

.outputs-wrapper {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: top;
  justify-content: center;
  /* flex: 1 0 auto */
  display: none;
  color: var(--pink3);
}

.training-plan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

.wrapper {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 32px 32px;
}

/* Atoms ------------------- */

h1,
h2 {
  text-align: center;
}

h2 {
  margin-bottom: 8px;
  color: var(--pink4);
}



.hr1 {
    border: none;
    height:8px;
    border-top:2px solid var(--pink3);
    border-bottom:2px solid var(--pink3);
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hr1:after{ content:"some text"; }

label {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--pink0);
  margin-bottom: 2px;
}

input,
select {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--pink1);
  border-radius: 4px;
  margin-bottom: 16px;
  background-color: var(--pink10);
  color: var(--pink3)
}

select {
  padding: 8px;
}

button {
  background-color: var(--pink5);
  border: 0;
  color: var(--sky-50);
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  box-shadow: var(--sky-900) 4px 4px 0px;
  border-radius: 8px;
  transition: transform 200ms, box-shadow 200ms;
}
button:focus {
  background-color: var(--pink5);
}
button:active {
  transform: scale(1.02, 0.97);
  background-color: var(--pink6);
  box-shadow: var(--sky-900) 0px 0px 0px;

}

.information-field {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--pink10);
}
.output-field {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--pink10);
  width: 50%;
  border-style: solid
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  column-gap: 20px;
  row-gap: 20px;
}

.container div{
  margin: 10px;
  font-size: 17px;
  text-align: center;
}

.doublelinecontainer {
  margin: 10px;
  font-size: 17px;
  text-align: center;
}

/* error styles */
.error-input {
  background-color: var(--pink8);
  color: var(--pink4);
  border-color: var(--pink2);
}

.error-label {
  color: var(--purple2);
}

.error-message ul {
  padding-left: 0;
}
.error-message ul li {
  color: var(--pink4);
  font-weight: 800;
  font-size: 0.8rem;
  letter-spacing: 0.1px;
  list-style: none;
  margin-bottom: 0.5rem;
}
.error-message{
  background-color: var(--pink8);
}